# Implementing Recommender Systems - Lab

## Introduction

In this lab, you'll practice creating a recommender system model using surprise. You'll also get the chance to create a more complete recommender system pipeline to obtain the top recommendations for a specific user.

## Objectives
You will be able to:
* Fit a recommender system model to a set of data
* Create a function that will return the top recommendations for a user
* Introduce a new user to a rating matrix and make recommendations for them

For this lab, we will be using the famous 1M movie dataset. It contains a collection of user ratings for many different movies. In the last  lesson, you got exposed to working with Surprise datasets. In this lab, you will also go through the process of reading in a dataset into the Surprise dataset format. To begin with, load the dataset into a pandas dataframe. Determine which columns are necessary for your recommendation system and drop any extraneous ones.

In [3]:
import pandas as pd
df = pd.read_csv('./ml-latest-small/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [4]:
#drop unnecessary columns
new_df=df.drop(columns='timestamp')

It's now time to transform the dataset into something compatible with Surprise. In order to do this, you're going to need `Reader` and `Dataset` classes. There's a method in `Dataset` specifically for loading dataframes.

In [7]:
from surprise import Reader, Dataset
reader = Reader()
data = Dataset.load_from_df(new_df,reader)

Let's look at how many users and items we have in our dataset. If using neighborhood-based methods, this will help us determine whether or not we should perform user-user or item-item similarity

In [8]:
dataset = data.build_full_trainset()
print('Number of users: ',dataset.n_users,'\n')
print('Number of items: ',dataset.n_items)

Number of users:  610

Number of items:  9724

## Determine the Best Model
Now, compare the different models and see which ones perform best. For consistency sake, use RMSE to evaluate models. Remember to cross-validate! Can you get a model with a higher average RMSE on test data than 0.869?

In [9]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [10]:
## Perform a gridsearch with SVD
params = {'n_factors' :[20,50,100],
         'reg_all':[0.02,0.05,0.1]}
g_s_svd = GridSearchCV(SVD,param_grid=params,n_jobs=-1)
g_s_svd.fit(data)

In [11]:
print(g_s_svd.best_score)
print(g_s_svd.best_params)

{'rmse': 0.8684688643538848, 'mae': 0.6674569589285466}
{'rmse': {'n_factors': 100, 'reg_all': 0.05}, 'mae': {'n_factors': 100, 'reg_all': 0.05}}

In [12]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name':'pearson','user_based':True})
cv_knn_basic= cross_validate(knn_basic,data,n_jobs=-1)

In [13]:
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.97383682, 0.9673737 , 0.97138023, 0.97456221, 0.97292186]))
('test_mae', array([0.7542798 , 0.74792659, 0.74686525, 0.75274509, 0.75158615]))
('fit_time', (1.029146671295166, 1.4705007076263428, 1.2879667282104492, 1.358628749847412, 0.6963133811950684))
('test_time', (4.077253580093384, 4.407547473907471, 4.102215051651001, 4.174206495285034, 3.4970216751098633))
-----------------------
0.9720149641673291

In [14]:
# cross validating with KNNBaseline
knn_baseline = KNNBaseline(sim_options={'name':'pearson','user_based':True})
cv_knn_baseline = cross_validate(knn_baseline,data)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [15]:
for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([0.87551591, 0.88567203, 0.87828322, 0.86685836, 0.8805123 ]))
('test_mae', array([0.66791786, 0.67495131, 0.66991611, 0.66369338, 0.6726509 ]))
('fit_time', (0.9979264736175537, 1.433891773223877, 1.0901360511779785, 1.1454112529754639, 1.4414069652557373))
('test_time', (3.9106366634368896, 2.9117496013641357, 4.159753322601318, 5.285446882247925, 5.340710878372192))

0.8773683637289013

Based off these outputs, it seems like the best performing model is the SVD model with n_factors = 50 and a regularization rate of 0.05. Let's use that model to make some predictions. Use that model or if you found one that performs better, feel free to use that.

## Making Recommendations

This next section is going to involve making recommendations, and it's important that the output for the recommendation is interpretable to people. Rather than returning the movie_id values, it would be far more valuable to return the actual title of the movie. As a first step, let's read in the movies to a dataframe and take a peak at what information we have about them.

In [16]:
df_movies = pd.read_csv('./ml-latest-small/movies.csv')

In [17]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Making simple predictions
Just as a reminder, let's look at how you make a prediction for an individual user and item. First, we'll fit the SVD model we had from before.

In [18]:

svd = SVD(n_factors= 50, reg_all=0.05)
svd.fit(dataset)

In [19]:
svd.predict(2,4)

Prediction(uid=2, iid=4, r_ui=None, est=2.9708851094807787, details={'was_impossible': False})

This prediction value is a tuple and each of the values within it can be accessed by way of indexing. Now let's put all of our knowledge of recommendation systems to do something interesting: making predictions for a new user!

## Obtaining User Ratings 

It's great that we have working models and everything, but wouldn't it be nice to get to recommendations specifically tailored to your preferences? That's what we'll be doing now. The first step to go let's create a function that allows students to pick randomly selected movies. The function should present users with a movie and ask them to rate it. If they have not seen the movie, they should be able to skip rating it. 

The function `movie_rater` should take as parameters:
* movie_df : DataFrame - a dataframe containing the movie ids, name of movie, and genres
* num : int - number of ratings
* genre : string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int  , 'movieId': int  ,'rating': float  }

#### This function is optional, but fun :)

In [20]:
def movie_rater(movie_df,num, genre=None):
    userID = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
        print(movie)
        rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :\n')
        if rating == 'n':
            continue
        else:
            rating_one_movie = {'userId':userID,'movieId':movie['movieId'].values[0],'rating':rating}
            rating_list.append(rating_one_movie) 
            num -= 1
    return rating_list

In [21]:
user_rating = movie_rater(df_movies,4,'Comedy')

      movieId              title          genres
9015   140301  The Escort (2015)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                            title         genres
3665     5047  Kung Pow: Enter the Fist (2002)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title          genres
6744    59333  Made of Honor (2008)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title              genres
5951    34338  Aristocrats, The (2005)  Comedy|Documentary
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId              title  genres
3439     4687  Billy Liar (1963)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title  genres
6840    61394  Onion Movie, The (2008)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                     title  \
8933   136341  Scooby-Doo! and the Samurai Sword (2009)

                         genres
8933  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                     title                genres
276      317  Santa Clause, The (1994)  Comedy|Drama|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3
      movieId                   title  genres
8860   133419  Pitch Perfect 2 (2015)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                       title  genres
9632   179119  The Death of Stalin (2017)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                        title                     genres
5585    26840  Sonatine (Sonachine) (1993)  Action|Comedy|Crime|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                         title  genres
588      725  Great White Hype, The (1996)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                      title                      genres
5811    31952  Control (Kontroll) (2003)  Comedy|Crime|Drama|Mystery
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                    title  genres
5971    35807  Teahouse of the August Moon, The (1956)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                         title        genres
750      984  Pompatus of Love, The (1996)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                     title  genres
8941   136469  Larry David: Curb Your Enthusiasm (1999)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title           genres
5499    26386  High Anxiety (1977)  Comedy|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                              title  \
7374    79139  Sorcerer's Apprentice, The (2010)

                                        genres
7374  Action|Adventure|Children|Comedy|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title        genres
2317     3071  Stand and Deliver (1988)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title                        genres
4891     7325  Starsky & Hutch (2004)  Action|Comedy|Crime|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title  genres
8369   109313  Chouchou (2003)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title         genres
6190    44972  Scary Movie 4 (2006)  Comedy|Horror
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title          genres
4688     6999  Housesitter (1992)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title                genres
3636     4991  Joe Somebody (2001)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId              title        genres
2548     3410  Soft Fruit (1999)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId        title              genres
6344    49263  Fuck (2005)  Comedy|Documentary
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                     title  \
5187     8426  Robot Carnival (Roboto kânibauru) (1987)

                                     genres
5187  Animation|Comedy|Drama|Fantasy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title               genres
3850     5414  Bad Company (2002)  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title        genres
8847   132496  Danny Collins (2015)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
7218    73160  Sorority Babes in the Slimeball Bowl-O-Rama (1...

             genres
7218  Comedy|Horror
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title  \
4540     6734  Memoirs of an Invisible Man (1992)

                              genres
4540  Comedy|Romance|Sci-Fi|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                   title                  genres
821     1081  Victor/Victoria (1982)  Comedy|Musical|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                           title                genres
165      195  Something to Talk About (1995)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                        title                genres
3921     5508  24 Hour Party People (2002)  Comedy|Drama|Musical
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                           title  \
5644    27426  Accidental Spy, The (Dak miu mai shing) (2001)

                      genres
5644  Action|Comedy|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :

      movieId                                              title  \
5990    36850  Police Story 2 (Ging chaat goo si juk jaap) (1...

                            genres
5990  Action|Comedy|Crime|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                              title  genres
9365   162344  Tom Segura: Mostly Stories (2016)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                       title  genres
9627   178613  Dave Chappelle: Killin' Them Softly (2000)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title                 genres
3852     5416  Cherish (2002)  Comedy|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                    title  genres
7027    68600  Balls Out: Gary the Tennis Coach (2009)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n

      movieId                                       title            genres
5309     8807  Harold and Kumar Go to White Castle (2004)  Adventure|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId               title                 genres
202      236  French Kiss (1995)  Action|Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title            genres
8552   115819  Mr Hublot (2013)  Animation|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                              title         genres
6340    49110  Mom and Dad Save the World (1992)  Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title  genres
2097     2791  Airplane! (1980)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title                genres
6715    58806  Smart People (2008)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title        genres
4682     6992  Guarding Tess (1994)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                          title           genres
8848   132584  The Even Stevens Movie (2003)  Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                    title  genres
5222     8528  Dodgeball: A True Underdog Story (2004)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                    title            genres
8820   131130  Tom and Jerry: A Nutcracker Tale (2007)  Animation|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId                   title        genres
173      205  Unstrung Heroes (1995)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title          genres
8528   114762  Two Night Stand (2014)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title  genres
2481     3306  Circus, The (1928)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title        genres
1111     1446  Kolya (Kolja) (1996)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title  genres
2295     3042  Meatballs III (1987)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                      title        genres
7949    95939  Angels' Share, The (2012)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title  genres
1571     2109  Jerk, The (1979)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title  genres
6241    46574  OH in Ohio, The (2006)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId        title  genres
3327     4504  Feds (1988)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title  genres
2916     3911  Best in Show (2000)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title  genres
2930     3929  Bank Dick, The (1940)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title          genres
6519    53974  License to Wed (2007)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title  genres
1107     1440  Amos & Andrew (1993)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title  genres
2950     3955  Ladies Man, The (2000)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId              title        genres
462      528  Scout, The (1994)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  genres
5900    33564  Divorce - Italian Style (Divorzio all'italiana...  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                   title  genres
8040    98279  Fantastic Fear of Everything, A (2012)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title                genres
4857     7260  Latter Days (2003)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId              title                genres
7154    71535  Zombieland (2009)  Action|Comedy|Horror
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3
      movieId                               title         genres
2756     3694  Toxic Avenger, Part II, The (1989)  Comedy|Horror
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title  genres
7373    79134  Grown Ups (2010)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                            title        genres
4494     6650  Kind Hearts and Coronets (1949)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title  \
7395    79702  Scott Pilgrim vs. the World (2010)

                                     genres
7395  Action|Comedy|Fantasy|Musical|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId               title  genres
877     1171  Bob Roberts (1992)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                 title  genres
9659   181139  Lynne Koplitz: Hormonal Beast (2017)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                   genres
5874    33090  Mutant Aliens (2001)  Animation|Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title                   genres
2538     3398  Muppets Take Manhattan, The (1984)  Children|Comedy|Musical
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                            title  \
5813    32009  Tyler Perry's Diary of a Mad Black Woman (2005)

                    genres
5813  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                 title                   genres
1059     1376  Star Trek IV: The Voyage Home (1986)  Adventure|Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                      title                          genres
5437    25959  Annie Get Your Gun (1950)  Comedy|Musical|Romance|Western
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                                   genres
7733    90647  Puss in Boots (2011)  Adventure|Animation|Comedy|Fantasy|IMAX
How do you rate this movie on a scale of 1-5, press n if you have not seen :

If you're struggling to come up with the above function, you can use this list of user ratings to complete the next segment

In [33]:
user_rating

[{'userId': 1000, 'movieId': 317, 'rating': '3'},
 {'userId': 1000, 'movieId': 27426, 'rating': ''},
 {'userId': 1000, 'movieId': 71535, 'rating': '3'},
 {'userId': 1000, 'movieId': 90647, 'rating': ''}]

### Making Predictions With the New Ratings
Now that you have new ratings, you can use them to make predictions for this new user. The proper way this should work is:

* add the new ratings to the original ratings DataFrame, read into a Surprise dataset
* train a model using the new combined DataFrame
* make predictions for the user
* order those predictions from highest rated to lowest rated
* return the top n recommendations with the text of the actual movie (rather than just the index number)

In [23]:
## add the new ratings to the original ratings DataFrame
new_ratings_df = new_df.append(user_rating,ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df,reader)

ValueError: could not convert string to float:

In [40]:
# train a model using the new combined DataFrame
svd_ = SVD(n_factors= 50, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [42]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
list_of_movies = []
for m_id in new_df['movieId'].unique():
    list_of_movies.append( (m_id,svd_.predict(1000,m_id)[3]))

In [45]:
# order the predictions from highest to lowest rated

ranked_movies = sorted(list_of_movies,key=lambda x:x[1],reverse=True)

 For the final component of this challenge, it could be useful to create a function `recommended_movies` that takes in the parameters:
* `user_ratings` : list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df` : DataFrame 
* `n` : int- number of recommended movies 

The function should use a for loop to print out each recommended *n* movies in order from best to worst

In [49]:
# return the top n recommendations using the 
def recommended_movies(user_ratings,movie_title_df,n):
        for idx, rec in enumerate(user_ratings):
            title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
            print('Recommendation # ',idx+1,': ',title,'\n')
            n-= 1
            if n == 0:
                break
            
recommended_movies(ranked_movies,df_movies,5)

Recommendation #  1 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  2 :  680    Philadelphia Story, The (1940)
Name: title, dtype: object

Recommendation #  3 :  686    Rear Window (1954)
Name: title, dtype: object

Recommendation #  4 :  602    Dr. Strangelove or: How I Learned to Stop Worr...
Name: title, dtype: object

Recommendation #  5 :  926    Amadeus (1984)
Name: title, dtype: object

## Level Up

* Try and chain all of the steps together into one function that asks users for ratings for a certain number of movies, then all of the above steps are performed to return the top n recommendations
* Make a recommender system that only returns items that come from a specified genre

## Summary

In this lab, you got the change to implement a collaborative filtering model as well as retrieve recommendations from that model. You also got the opportunity to add your own recommendations to the system to get new recommendations for yourself! Next, you will get exposed to using spark to make recommender systems.